body{
	margin:0px;
}

#head{
	width: 100%;
    background: #df1f38;
	color:#FFF;
}

.img{
	text-align: center;
    padding: 9px 0px;    
}


.failed-img{
	text-align: center;    
    margin-top: 32%;
}


.word-failed{
	font-weight: bold;
    font-size: 28px;    
    margin-top: 16px;
}

.word-desc{
	margin-top: 31px;
    line-height: 26px;
    font-size: 20px;
}
.word-payment{		
    font-size: 57px;
    text-align: center;
}

.btn-close{
	background: red;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    padding: 10px 0;
    margin-top: 50px;
    cursor: pointer;
    font-size: 41px;
}


@media (max-width: 768px){
	.failed-img img{
		width: 69%;
	}
}